* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.143);
}
.titulo {
  text-align: center;
  color: tomato;
}
.datos {
  width: 100%;
  margin: 0 auto;
}
label {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.517);
}
input[type="text"],
input[type="number"] {
  width: 100%;
  float: right;
  margin: 5px;
  border-radius: 10px;
  border: 0.5px rgba(255, 99, 71, 0.292) solid;
  padding: 5px;
}
.calcular {
  background-color: rgba(16, 196, 133, 0.653);
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  border: none;
  color: white;
}
.calcular:hover {
  background-color: rgba(16, 196, 133, 0.966);
}
.vaciar {
  background-color: rgba(193, 42, 42, 0.599);
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  border: none;
  color: white;
}
.vaciar:hover {
  background-color: rgba(193, 42, 42, 0.87);
}
.operacion {
  text-align: center;
}
.resultado {
  color: rgb(80, 78, 78);
  border-radius: 10px;
  margin-top: 10px;
}
#saludo {
  color: rgb(201, 39, 47);
}
#img {
  opacity: .7;

}
hr{
  border: 5px solid rgba(0, 0, 0, 0)
}
#btn-info>button{
  background-color: rgb(79, 141, 202);
  color: aliceblue;
  border: none;
  padding: 6px;
  border-radius: 10px;
}
#btn-info>button:hover{
   background-color:black;
   transition: background-color 1.5s;
}
#btn-volver>button{
  background-color: rgb(225, 37, 37);
  color: aliceblue;
  border: none;
  padding: 6px;
  border-radius: 10px;
}
#btn-volver>button:hover{
    background-color: rgba(19, 17, 17, 0.837);
    color: white;
    transition: background-color 1.5s;
}
#msg{
  color: rgb(54, 199, 93);
}
